<%-include('../partials/header.ejs')%>

	<h1>List of Stories</h1>

	<ul>
	<% stories.forEach((story) => { %>
		<li><a href="">story.title</a></li>	
	<% }) %>
	</ul>




<%-include('../partials/footer.ejs')%>
