<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<header>
	
<nav>
	<ul>
		<% if(!loggedIn) { %> 
		<li class="btn btn-outline-warning" ><a href="/" title="">Login/Register</a></li>
		<%} else {%>
		<li class="btn btn-outline-danger" ><a href="/users/<%= userId%>" title="">My profile</a></li>
		<li class="btn btn-outline-danger" ><a href="/users/stories/myStories" title="">My Stories</a></li>
		<li class="btn btn-outline-warning" ><a href="/users" title="">List of Authors</a></li>
		<li class="btn btn-outline-danger" ><a href="/stories" title="">List of Stories</a></li>
		<li class="btn btn-outline-danger" ><a href="/stories/create" title="">Create Story</a></li>
		<li class="btn btn-outline-danger" ><a href="/logout" title="">Logout</a></li>
		<%}%>
	</ul>
</nav>

</header>