<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<header>
	
<nav>
	<ul style="list-style: none">
		<% if(!loggedIn) { %> 
		<a href="/" title=""><button class="btn btn-outline-warning">Login/Register</button></a>
		<%} else {%>
		<li><a href="/users/<%= userId%>" title=""><button class="btn btn-outline-primary">My profile</button></a>
		<a href="/users/stories/<%= userId%>" title=""><button class="btn btn-outline-success">My Stories</button></a>
		<a href="/users" title=""><button class="btn btn-outline-primary">List of Authors</button></a>
		<a href="/stories" title=""><button class="btn btn-outline-primary">List of Stories</button></a>
		<a href="/stories/new" title=""><button class="btn btn-outline-success">Create Story</button></a>
		<a href="/logout" title=""><button class="btn btn-outline-danger">Logout</button></a>
		<%}%>
	</ul>
</nav>

</header>