<%-include('./partials/header.ejs')%>


<br>
<strong><h3>Authors-R-Us</h3></strong>

<p> We are a site that brings together Authors and Reviewers.</p>
<p>We welcome all walks of thought.</p>
<br>
<p>We hope to bring your imagination on the crystal display</p>
<br>
<p>We hope to cultivate a community of inclusive ideas, but we also like to have fun!</p>
<br>
<p>Make sure to not take critisim personally, and use those reviews to get better views!</p>
<br>




<%-include('./partials/footer.ejs')%>