<% if (!loggedIn) { -%>
	
<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


	<h1>Home Page</h1>
	<p><%=message%></p>

	<div id='login-container'>
		<form id='login-form' method="POST" action="/users">
			<fieldset>
				<legend>Login Here</legend>
				<label for="login"></label>
				<input id='login' type="text" name="username" placeholder="Enter your username">
				<label for="password"></label>
				<input id='password' type="password" name="password" placeholder="Enter your password">
				<button class="btn btn-success">Login</button>
			</fieldset>
		</form>
	</div>



	<div id='register-container'>
		<form id='register-form' method="POST" action="/">
			<fieldset>
			<legend>Register Here</legend>
				<label for="username">Username: </label>
				<input id='username' type="text" name="username" placeholder="Create Username" required minlength="1" required maxlength="8">
				<label for="password">Password: </label>
				<input id='password' type="password" name="password" placeholder="Create Password" required minlength="1">
				<label for="firstName">First Name: </label>
				<input id='firstName' type="text" name="firstName" placeholder="Enter First Name" required minlength="1">
				<label for="lastName">Last Name: </label>
				<input id='lastName' type="text" name="lastName" placeholder="Enter Last Name" required minlength="1">
				<label for="email">Email: </label>
				<input id='email' type="text" name="email" placeholder="Enter Your Email" required minlength="1">
				<label for="dob">Date of Birth: </label>
				<input type="date" name="dob" placeholder="Enter Your Date of Birth" required minlength="8">
				<button class="btn btn-success">Register</button>
			</fieldset>
		</form>
	</div>




<% } else { -%>
	
	<%-include('./partials/header')%>

	<h1>Please use links above to go to desired page</h1>


<% } -%>


<%-include('./partials/footer.ejs')%>
