<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>



<form id='login-form' >
	<label for="login"></label>
	<input id='login' type="text" name="login" placeholder="Enter your username">
	<label for="password"></label>
	<input id='password' type="password" name="password" placeholder="Enter your password">
	<button>Login</button>
</form>



<form id='register-form'>


</form>




<%-include('./partials/footer.ejs')%>