body { 
	background-color: rgba(255, 190, 190, 0.1);
	width: 95%;
	margin: 0 auto;
 }

.home {
	width: 100%;
	background-color: ghostwhite;
	border: 3px solid lightblue;
}
.home h1{
	margin: 0;
	margin-right: 50%;
	display: inline-block;
}

#login-container {
	display: inline-block;
	width: 20%;
	background-color: ghostwhite;
	margin: 10px;
}

header, footer {
	text-align: center;
	background-color: ghostwhite;
	border: 3px solid lightblue;
  	border-radius: 4px;
}
footer li {
	display: inline-block;
}
footer small {
	position: left;
}

a:hover{
	color: green;
	text-decoration: none;
}

#register-container {
	display: flex;
 	width: 17%;
 	margin-bottom: 1%;
 	background-color: ghostwhite;
}

#register-form input {
 	display: block;
 	margin-bottom: 10px;
}

.comment-block {
	display: inline-block;
	max-width: 50%;
	overflow: auto;
 	background-color: lightblue;
 	overflow-wrap: break-word;
 	width: 50%;
 	height: 100px;
 	box-shadow: 10px 5px 5px GoldenRod;
}

.story-body {
	overflow-wrap: break-word;
	width: 90%;
}

.story-body textarea {
	background-color: floralwhite;
}

.instruction {
	font-size: 0.9em;
}

.user-img { 
	max-width: 40%;
}

ul {
	list-style: none;
}
