body { 
	background-color: LemonChiffon;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9o0kyBZ1qkkCj99HW6YjZUI-3fJJXEk5lBT0eX84VG4U7jnhkJQ&s);
	background-size: 100%;
 }


#login-container {
	display: flex;


}


 #register-container {
 	display: flex;
 }


 #edit-profile-container {
 	
 }