<%-include('../partials/header.ejs')%>


<h2>List of Authors</h2>


<ul>
	<% users.forEach((user) => { %>

		<%if(user.author == true) {%>
	
		<li>Author: <a href="/users/<%= user._id%>"><%= user.username%></a></li>
			
			<%}%>
	<% }) %>

</ul>


<%-include('../partials/footer.ejs')%>