<%-include('../partials/header.ejs')%>


<h2>Your Stories</h2>

	<ul>
	<% stories.forEach((stories) => { %>
		<li><a href="/users/profile/stories/<%=stories._id%>"><%=stories.title%></a></li>
	<% }) %>
	</ul>




<%-include('../partials/footer.ejs')%>


